/* 1. Скрываем системный курсор по всей странице */
html {
    cursor: none; 
}

/* 2. Отключаем системный курсор для интерактивных элементов */
a, img {
    cursor: none !important; 
    display: block; 
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    /* Важно для позиционирования benadryl.gif */
    position: relative; 
    background-color: black;
    
    /* Центрирование ОСНОВНОЙ гифки */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 3. Стиль для кастомного элемента курсора */
#custom-cursor {
    position: fixed;
    z-index: 9999; /* Всегда поверх всего */
    pointer-events: none; /* Не блокирует клики */

    width: 32px; 
    height: 32px; 
    background-image: url('Cursor_Static.png');
    background-size: cover;
    
    transition: transform 0.05s linear; 
    /* Смещение для центрирования "горячей точки" (для курсора 32x32) */
    transform: translate(-16px, -16px);
}

/* 4. Класс для анимированного курсора */
.cursor-animated {
    background-image: url('Cursor_Animated.gif') !important;
}

/* 5. ПОЗИЦИОНИРОВАНИЕ benadryl.gif */
#benadryl-gif {
    position: absolute; 
    right: 20px;       /* Отступ 20px от правого края */
    bottom: 20px;      /* Отступ 20px от нижнего края */
    z-index: 10;       /* Видна поверх всего, кроме курсора */
}


/* 6. Хитрость для предзагрузки */
body::after {
    content: url('animated.gif') url('Cursor_Animated.gif') url('benadryl.gif');
    display: none;
}
